<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557993669018-qbbkib3ngm2se6m2s7anvmsm9b6buob7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557993669018-qbbkib3ngm2se6m2s7anvmsm9b6buob7</string>
	<key>API_KEY</key>
	<string>AIzaSyCh0NqywRjY-deoyeZt0tIUhtSIejr4q8E</string>
	<key>GCM_SENDER_ID</key>
	<string>557993669018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seminar.kmurata.LockUnLockTest</string>
	<key>PROJECT_ID</key>
	<string>cheerpon-133fa</string>
	<key>STORAGE_BUCKET</key>
	<string>cheerpon-133fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557993669018:ios:b5b192b4a9fa30e63a8a23</string>
	<key>DATABASE_URL</key>
	<string>https://cheerpon-133fa.firebaseio.com</string>
</dict>
</plist>