<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://muratalab.si.aoyama.ac.jp/dev/defaultpon/LockUnLockTest.ipa</string>
		<key>displayImageURL</key>
		<string>https://muratalab.si.aoyama.ac.jp/dev/defaultpon/cheerpon2_image.jpg</string>
		<key>fullSizeImageURL</key>
		<string>https://muratalab.si.aoyama.ac.jp/dev/defaultpon/cheerpon2_fullimage.jpg</string>
	</dict>
	<key>method</key>
	<string>ad-hoc</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.seminar.kmurata.LockUnLockTest</key>
		<string>cheerponmbp4-20200621</string>
	</dict>
	<key>signingCertificate</key>
	<string>Apple Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>2U9LZ8D5R8</string>
	<key>thinning</key>
	<string>&lt;thin-for-all-variants&gt;</string>
</dict>
</plist>
