<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LockUnLockTest.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2666A229D135FFEA5913BE4433BAF9E143582680</string>
				<key>dateExpires</key>
				<string>2021/03/25</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2666A229D135FFEA5913BE4433BAF9E143582680</string>
						<key>dateExpires</key>
						<string>2021/03/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2U9LZ8D5R8</string>
						<key>name</key>
						<string>Kazuyoshi Murata</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2666A229D135FFEA5913BE4433BAF9E143582680</string>
						<key>dateExpires</key>
						<string>2021/03/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2U9LZ8D5R8</string>
						<key>name</key>
						<string>Kazuyoshi Murata</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2666A229D135FFEA5913BE4433BAF9E143582680</string>
						<key>dateExpires</key>
						<string>2021/03/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2U9LZ8D5R8</string>
						<key>name</key>
						<string>Kazuyoshi Murata</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2666A229D135FFEA5913BE4433BAF9E143582680</string>
						<key>dateExpires</key>
						<string>2021/03/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RealmSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2U9LZ8D5R8</string>
						<key>name</key>
						<string>Kazuyoshi Murata</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2666A229D135FFEA5913BE4433BAF9E143582680</string>
						<key>dateExpires</key>
						<string>2021/03/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2U9LZ8D5R8</string>
						<key>name</key>
						<string>Kazuyoshi Murata</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2666A229D135FFEA5913BE4433BAF9E143582680</string>
						<key>dateExpires</key>
						<string>2021/03/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2U9LZ8D5R8</string>
						<key>name</key>
						<string>Kazuyoshi Murata</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2666A229D135FFEA5913BE4433BAF9E143582680</string>
						<key>dateExpires</key>
						<string>2021/03/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2U9LZ8D5R8</string>
						<key>name</key>
						<string>Kazuyoshi Murata</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2666A229D135FFEA5913BE4433BAF9E143582680</string>
						<key>dateExpires</key>
						<string>2021/03/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2U9LZ8D5R8</string>
						<key>name</key>
						<string>Kazuyoshi Murata</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2666A229D135FFEA5913BE4433BAF9E143582680</string>
						<key>dateExpires</key>
						<string>2021/03/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2U9LZ8D5R8</string>
						<key>name</key>
						<string>Kazuyoshi Murata</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2666A229D135FFEA5913BE4433BAF9E143582680</string>
						<key>dateExpires</key>
						<string>2021/03/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2U9LZ8D5R8</string>
						<key>name</key>
						<string>Kazuyoshi Murata</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2U9LZ8D5R8.com.gmail.kmurata.seminar.LockUnLockTest</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2U9LZ8D5R8</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>2U9LZ8D5R8.com.gmail.kmurata.seminar.LockUnLockTest</string>
				</array>
			</dict>
			<key>name</key>
			<string>LockUnLockTest.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ac36f87e-2f9a-4778-a6fc-f0eb7f186094</string>
				<key>name</key>
				<string>cheerpon2</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2U9LZ8D5R8</string>
				<key>name</key>
				<string>Kazuyoshi Murata</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
